.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 64px;
  padding-inline: 50px;

  .logo-container {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0;

    .main-logo {
      font-size: 24px;
      font-weight: 700;
    }

    .sub-logo {
      font-size: 12px;
      margin-top: -8px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-header {
    padding-inline: 20px;
    .logo-container {
      .main-logo {
        font-size: 20px;
      }
    }
  }
}
