.home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 64px;
  padding-inline: 50px;

  .logo-container {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0;

    .main-logo {
      font-size: 24px;
    }

    .sub-logo {
      font-size: 12px;
    }
  }
}
