.offers {
  h2 {
    text-align: center;
  }

  .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-inline: 24px;

    .ant-card {
      flex: 1;
      height: 281px;
    }
  }
}
